footer {
  background: #f9fafc;
  padding: 0 100px 100px;
}
footer .social-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  justify-items: center;
  align-items: center;
  /* max-width: 400px;
  margin: 0 auto; */
}
footer .social-container a {
  font-size: 3rem;
  color: #8e8f91;
  text-decoration: none;
  transition: all 0.3s ease-in-out;
  display: inline-block;
  padding: 10px 0;
}
footer .social-container a:hover {
  color: rgba(255, 53, 53, 1);
}
footer h5 {
  font-size: 1rem;
  color: Black;
  text-transform: uppercase;
  text-align: center;
  margin: 20px 0;
}
footer h6 {
  font-size: 0.8rem;
  color: Black;
  text-transform: capitalize;
  text-align: center;
}

footer .title {
  position: relative;
  font-size: 2.5rem;
  text-transform: uppercase;
  font-weight: 700;
  color: #16171b;
  z-index: 1;
  letter-spacing: 4px;
  bottom: 19px;
}

footer .contact {
  display: flex;
  justify-content: space-between;
}

footer .contact .contact-info {
  padding: 50px 20px;
  width: 400px;
  height: 586px;
}

footer .contact .contact-info .email,
footer .contact .contact-info .phone,
footer .contact .contact-info .address {
  display: flex;
  flex-direction: column;
  margin-bottom: 1.7rem;
}

footer .contact .contact-info div span {
  color: #13161d;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 2px;
  line-height: 2;
  margin-bottom: 0.4rem;
}

footer .contact .contact-info div span:nth-child(1) {
  color: #666666;
}

/* Contact Form */
footer .contact .contact-form {
  display: flex;
  flex-direction: column;
  width: 500px;
  background: #fff;
  padding: 20px;
  position: relative;
  padding: 55px 25px;
  bottom: 102px;
  -webkit-box-shadow: 0px 9px 30px 2px rgb(0 0 0 / 16%);
  -moz-box-shadow: 0px 9px 30px 2px rgba(0, 0, 0, 0.16);
  box-shadow: 0px 9px 27px 1px rgb(0 0 0 / 16%);
}

footer .contact .contact-form h3 {
  font-size: 1.2rem;
  text-transform: uppercase;
  font-weight: 700;
  color: #16171b;
  z-index: 1;
  letter-spacing: 4px;
  margin-bottom: 3rem;
}

.form-group {
  position: relative;
  display: block;
  margin-bottom: 30px;
}

.form-control:focus {
  outline: none;
}

.form-control {
  border: none;
  border-bottom: 2px solid #666666;
  display: block;
  width: 100%;
  height: 43px;
  font-size: 15px;
  background: 0 0;
  /* font-family: montserrat-semibold; */
}

.form-group span {
  font-size: 15px;
  color: #666666;
  position: absolute;
  top: 11px;
  transition: all 0.2s ease;
  transform-origin: 0 0;
  cursor: text;
}

.form-group span.border {
  height: 2px;
  display: block;
  position: absolute;
  width: 100%;
  left: 0;
  top: 41px;
  transform: scaleX(0);
  transition: all 0.15s ease;
  background: lightcoral;
}

.form-control:focus,
.form-control:valid {
  border-bottom: 2px solid lightcoral;
  color: lightcoral;
}

/* .form-group .form-group_name:focus {
  color: lightcoral;
} */

.form-control:focus + span,
.form-control:valid + span {
  transform: translateY(-22px) scale(0.8);
}

.form-control:focus + span + .border {
  transform: scaleX(1);
}

footer .contact .contact-form input[type="submit"] {
  border: none;
  /* width: 162px; */
  height: 35px;
  font-weight: 700;
  border-bottom: 2px solid #16171b;
  margin-left: auto;
  margin-top: 40px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  background: 0 0;
  color: #16171b;
  text-transform: uppercase;
}

/* Tablets */
@media only screen and (max-width: 960px) {
}
/* Phones */
@media only screen and (max-width: 767px) {
  footer {
    padding: 0 15px 100px;
  }
  footer .contact {
    flex-direction: column-reverse;
  }

  footer .contact .contact-info {
    width: auto;
  }

  footer .social-container a {
    font-size: 2rem;
  }

  footer .contact .contact-form {
    position: static;
    width: auto;
  }
}

/* WpForms */

footer .contact .wp-form {
  display: flex;
  flex-direction: column;
  width: 500px;
  background: #fff;
  padding: 20px;
  position: relative;
  padding: 55px 25px;
  bottom: 102px;
  -webkit-box-shadow: 0px 9px 30px 2px rgb(0 0 0 / 16%);
  -moz-box-shadow: 0px 9px 30px 2px rgba(0, 0, 0, 0.16);
  box-shadow: 0px 9px 27px 1px rgb(0 0 0 / 16%);
}

footer .contact .wp-form .wpforms-container,
footer .contact .wp-form .wpforms-container-full {
  margin: 0;
}

footer .contact .wp-form h3 {
  font-size: 1.2rem;
  text-transform: uppercase;
  font-weight: 700;
  color: #16171b;
  z-index: 1;
  letter-spacing: 4px;
  margin-bottom: 3rem;
}

.form-group {
  position: relative;
  display: block;
  margin-bottom: 30px;
}

.form-group input:focus,
.form-group textarea:focus {
  outline: none;
}

.form-group input,
.form-group textarea {
  border: none;
  border-bottom: 2px solid #666666;
  display: block;
  width: 100%;
  height: 43px;
  font-size: 15px;
  background: 0 0;
  /* font-family: montserrat-semibold; */
}

.form-group label {
  font-size: 15px;
  color: #666666;
  position: absolute;
  top: 11px;
  transition: all 0.2s ease;
  transform-origin: 0 0;
  cursor: text;
}

.form-group::after {
  content: " ";
  height: 2px;
  display: block;
  position: absolute;
  width: 100%;
  left: 0;
  top: 41px;
  transform: scaleX(0);
  transition: all 0.15s ease;
  background: lightcoral;
}

.form-group input:focus,
.form-group input:valid,
.form-group textarea:focus,
.form-group textarea:valid {
  border-bottom: 2px solid lightcoral;
  color: lightcoral;
}

/* .form-group .form-group_name:focus {
  color: lightcoral;
} */

.form-group input:focus + label,
.form-group input:valid + label,
.form-group textarea:focus + label,
.form-group textarea:valid + label {
  transform: translateY(-22px) scale(0.8);
}

.form-group input:focus + label + ::after {
  transform: scaleX(1);
}

footer .contact .wp-form button[type="submit"] {
  border: none;
  /* width: 162px; */
  height: 35px;
  font-weight: 700;
  border-bottom: 2px solid #16171b;
  margin-left: auto;
  margin-top: 40px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  background: 0 0;
  color: #16171b;
  text-transform: uppercase;
}
