#about .about-description {
  background: #f9fafc;
}

#about .about-description p {
  font-size: 16px;
  line-height: 26px;
  margin-bottom: 10px;
}

#about .about-description p:nth-child(1) {
  font-size: 18px;
  line-height: 32px;
}

#about .container {
  height: 100%;
  padding: 80px 0;
  max-width: 1190px;
}

#about .container .team .team-header {
  padding-bottom: 6rem;
  text-align: center;
  margin: 0 auto;
  width: 50%;
}

#about .container .team .team-header h3 {
  font-weight: 700;
  font-size: 3rem;
  padding-bottom: 2rem;
}

#about .container .team .team-header p {
  font-size: 16px;
  line-height: 23px;
}

#about .container .team .team-gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 5.7rem;
}

#about .container .team .team-gallery .team-gallery_photo {
  padding: 0 22px;
  display: flex;
}

#about .container .team .team-gallery .team-gallery_photo:nth-child(2n) {
  margin-top: 17.6rem;
  margin-left: -10.3rem;
  flex-direction: row-reverse;
}

#about .container .team .team-gallery .team-gallery_photo .photo {
  background-color: gray;
  width: 250px;
  height: 350px;
}

#about .container .team .team-gallery .team-gallery_photo .photo-info {
  writing-mode: vertical-rl;
  /*text-orientation: sideways;*/
  display: flex;
  flex-direction: column;
  transform: scale(-1);
  padding: 0 20px;
}

#about
  .container
  .team
  .team-gallery
  .team-gallery_photo:nth-child(2n)
  .photo-info {
  align-self: flex-end;
}

#about .container .team .team-gallery .team-gallery_photo .photo-info .name {
  font-weight: 700;
  padding: 0 0 0 10px;
}

#about
  .container
  .team
  .team-gallery
  .team-gallery_photo
  .photo-info
  .profession {
  color: #555555;
}
