#top {
  background-image: linear-gradient(to bottom, #123075 0%, #092056 100%);
  height: 100vh;
  position: relative;
}
#top:before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
}

#top .container {
  display: grid;
  /* grid-template-columns: 1fr 1fr; */
  height: 100%;
  padding: 80px 0;
  align-items: center;
  max-width: 1190px;
}

#top .background-layout {
  position: relative;
  display: flex;
  height: 100%;
}

#top .background-layout .highlighted-area {
  /* position: relative; */
  flex-basis: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#top .background-layout .highlighted-text {
  position: relative;
  /* flex-basis: 50%;
  display: grid;
  place-items: center;
  height: 100%; */
}

#top .background-layout .highlighted-text .text-area {
  color: white;
  margin-bottom: 50px;
}

#top .background-layout .highlighted-text .text-area p {
  color: #6b95e0;
  margin-bottom: 15px;
}

#top .background-layout .highlighted-text .text-area h1 {
  font-size: 2.5rem;
  line-height: 1.2;
  font-weight: 300;
}

#top .background-layout .highlighted-text .text-area h1:nth-of-type(1) {
  font-weight: 700;
}
#top .background-layout .highlighted-text .text-area h1:nth-of-type(2) {
  margin-bottom: 2.5rem;
}

#top .background-layout .highlighted-text .text-area a:nth-of-type(1) {
  border-radius: 5px;
  background: linear-gradient(-135deg, #fa2b56 0%, #f91c3d 100%);
  /* background: linear-gradient(-135deg, #e0022f 0%, #e20223 100%); */
  border: 0;
  box-shadow: 17px 22px 51px 9px rgba(9, 9, 9, 0.4);
  color: white;
  margin-right: 10px;
  padding: 20px;
  padding: 11px 20px;
}

#top .background-layout .highlighted-text .text-area a:nth-of-type(1):hover {
  background: linear-gradient(-135deg, #e0022f 0%, #e20223 100%);
  color: #fff;
}

#top .background-layout .highlighted-text .text-area a {
  color: #6b95e0;
  border: 1px solid #6b95e0;
  text-decoration: none;
  border-radius: 5px;
  padding: 10px 20px;
  transition: 0.25s;
}

#top .background-layout .highlighted-text .text-area a:hover {
  border-color: #fff;
  color: #000;
}

.fill:hover,
.fill:focus {
  box-shadow: inset 0 0 0 2em #fff;
}

#top .background-layout .highlighted-img {
  position: relative;
  /* flex-basis: 50%; */
}

/* Shapes */
#top .background-layout .highlighted-text .ellipse_8 {
  background: url("../../img/Ellipse_8.png");
  position: absolute;
  top: -20px;
  left: 164px;
  /* background-size: 24rem; */
  height: 150px;
  width: 150px;
  transform: scale(0.9);
  /* height: 100%; */
  /* width: 100%; */
  background-repeat: no-repeat;
}

#top .background-layout .highlighted-text .ellipse_8_copy {
  background: url("../../img/Ellipse_8_copy.png");
  position: absolute;
  top: 190px;
  right: -35px;
  /* background-size: 24rem; */
  height: 150px;
  width: 150px;
  transform: scale(0.8);
  /* height: 100%; */
  /* width: 100%; */
  background-repeat: no-repeat;
}

#top .background-layout .highlighted-text .ellipse_9 {
  background: url("../../img/Ellipse_9.png");
  position: absolute;
  left: -100px;
  top: -250px;
  /* background-size: 24rem; */
  height: 150px;
  width: 158px;
  transform: scale(0.9);
  /* height: 100%; */
  /* width: 100%; */
  background-repeat: no-repeat;
}

#top .background-layout .highlighted-text .ellipse_11 {
  background: url("../../img/Ellipse_11.png");
  position: absolute;
  left: 90px;
  top: -125px;
  /* background-size: 24rem; */
  height: 158px;
  width: 150px;
  transform: scale(0.9);
  /* height: 100%; */
  /* width: 100%; */
  background-repeat: no-repeat;
}

#top .background-layout .highlighted-img .shape1 {
  background: url("../../img/shape1.png");
  position: absolute;
  left: -40px;
  top: 550px;
  /* background-size: 24rem; */
  height: 158px;
  width: 150px;
  transform: scale(0.8);
  /* height: 100%; */
  /* width: 100%; */
  background-repeat: no-repeat;
}

#top .background-layout .highlighted-img .shape1_copy2 {
  background: url("../../img/shape1Copy2.png");
  position: absolute;
  left: 15px;
  top: 100px;
  z-index: 2;
  /* background-size: 24rem; */
  height: 158px;
  width: 150px;
  transform: scale(0.9);
  /* height: 100%; */
  /* width: 100%; */
  background-repeat: no-repeat;
}

#top .background-layout .highlighted-img .ellipse_10 {
  background: url("../../img/Ellipse_10.png");
  position: absolute;
  right: 72px;
  top: 150px;
  /* background-size: 24rem; */
  height: 195px;
  width: 225px;
  transform: scale(0.9);
  /* height: 100%; */
  /* width: 100%; */
  background-repeat: no-repeat;
}

#top .background-layout .highlighted-img .ellipse_10_copy {
  background: url("../../img/Ellipse_10_copy.png");
  position: absolute;
  right: 13px;
  top: 365px;
  height: 148px;
  width: 130px;
  transform: scale(0.8);
  background-repeat: no-repeat;
}

#top .background-layout .highlighted-img .ellipse_11_copy {
  background: url("../../img/Ellipse_11_copy.png");
  position: absolute;
  right: 255px;
  top: 480px;
  z-index: 2;
  height: 158px;
  width: 160px;
  transform: scale(0.8);
  background-repeat: no-repeat;
}

#top .background-layout .highlighted-img .featured_ellipse {
  position: relative;
  z-index: 1;
  width: 597px;
  height: 788px;
}

/* Tablets */
@media only screen and (max-width: 960px) {
  #top .container {
    /* padding: 0 0 80px; */
  }

  #top .background-layout {
    flex-direction: column;
  }

  #top .highlighted-area {
    flex-basis: 100%;
  }

  #top .background-layout .highlighted-text .ellipse_8 {
    display: none;
  }

  #top .background-layout .highlighted-text .ellipse_11 {
    display: none;
  }
}
/* Phones */
@media only screen and (max-width: 767px) {
  #top .container {
    padding: 0 0 80px;
    overflow: hidden;
  }
  #top .background-layout {
    padding-top: 50px;
  }

  #top .highlighted-area {
    flex-basis: 100%;
    z-index: 1;
  }

  #top .highlighted-area .highlighted-text .text-area {
    margin-bottom: 0;
  }

  #top .highlighted-img {
    flex-basis: 100%;
    height: 100%;
  }

  #top .background-layout .highlighted-text .text-area p {
    margin-bottom: 10px;
  }

  #top .background-layout .highlighted-text .text-area h1 {
    font-size: 1.8rem;
  }

  #top .background-layout .highlighted-text .text-area h1:nth-of-type(2) {
    margin-bottom: 2.2rem;
  }

  #top .background-layout .highlighted-text .text-area a {
    padding: 9px 13px;
    font-size: 14px;
  }

  #top .background-layout .highlighted-text .text-area a:nth-of-type(1) {
    padding: 10px 13px;
    font-size: 14px;
  }

  #top .background-layout .highlighted-text .ellipse_8 {
    background-size: 5rem;
    top: 130px;
    left: 210px;
    height: 110px;
    width: 95px;
    display: block;
  }
  #top .background-layout .highlighted-text .ellipse_8_copy {
    background-size: 6rem;
    display: none;
  }

  #top .background-layout .highlighted-text .ellipse_9 {
    background-size: 6rem;
    display: none;
  }

  #top .background-layout .highlighted-text .ellipse_11 {
    background-size: 6rem;
    display: none;
    /* left: 150px;
    top: 80px;
    height: 158px;
    width: 150px; */
  }

  /* #top .highlighted-img {
    flex-basis: 100%;
  } */

  #top .background-layout .highlighted-img .shape1 {
    background-size: 6rem;
    left: 4px;
    top: 190px;
    display: none;
  }

  #top .background-layout .highlighted-img .shape1_copy2 {
    background-size: 6rem;
    left: 41px;
    top: 5px;
    height: 80px;
    width: 70px;
  }

  #top .background-layout .highlighted-img .ellipse_10 {
    background-size: 6rem;
    left: 210px;
    top: 70px;
    height: 80px;
    width: 100px;
  }

  #top .background-layout .highlighted-img .ellipse_10_copy {
    background-size: 5rem;
    left: 275px;
    top: 180px;
  }

  #top .background-layout .highlighted-img .ellipse_11_copy {
    background-size: 6rem;
    left: 130px;
    top: 250px;
  }

  #top .background-layout .highlighted-img .featured_ellipse {
    position: absolute;
    left: 4px;
    width: 400px;
    height: 387px;
  }
}
